/* All Style */

.center{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
html{
    background-color: #F5F5F5;
}


/* Main.php */
#TopContainer{
    margin: 0;
    padding-top: 12px; 
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
    height: 25px;
    width: 100%;
    display: flex;
}
#LogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 140px;
}
#LogoContainer > a, #LogoContainer > a > img{
    width: 90px;
}
#RobotStateContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 600px;
}
#RobotStateContainer > img{
    width: 35px;
    height: 35px;
}
#RobotStateContainer > span{
    padding: 10px;
    font-size: 20px;
}

.center > #BookSearch{
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 1.5px solid gray;
    padding-left: 10px;
    font-size: 1.3em;
    outline: none;
    color: gray;
    background-color: #F5F5F5;
}
#BookTable{
    border-collapse: separate ;
    border-spacing: 15px;
    width: 80%; 
    height: 230px;
    box-shadow: inset 0px 0px 12px #c0c0c0;
}
#BookRow{
    width: 100%;
    height: 100%;
}
.BookData{
    width: 100px;
}
.BookData > form{
    width: 20%;
    position: relative;
}
.BookData > form > img{
    width: 100px;
    height: 140px;
    border: 1px solid #8b8b8b;
    box-shadow: 0px 0px 5px #444;
    margin-bottom: 10px;
}
.BookData > form > img:hover{
    transition: 2s ease;
    background-color: gray;
}
.BookData > form > .imtext{
    position: absolute;
    color: #292828;
    top: 0;
    transform: translateX(450%);
    z-index: 1;
    padding: 1px;
}
.BookData > form > input{
    margin-bottom: 7px;
    text-align: center;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid black;
}
#pageContainer{
    margin-top: 12.5px;
    font-size: 25px;
    color: #666;
}
#prePage, #nextPage{
    cursor: pointer;
}
#pageNum{
    margin-left: 15px;
    margin-right: 15px;
}

/* DetailBook */
#bookDiv{
    display: flex;
    align-items: top;
    flex-direction: row;
}
#bookImg{
    border: 1.5px solid black;
    width: 240px;
    height: 307px;
    margin-left: 70px;
    margin-top: 25px;
    margin-right: 80px;
}